.header {
  width: 100%;
  height: 70px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  color: #039103;
  font-size: 25px;
  font-weight: 900;
}
.navigation .nav-link {
  padding: 10px 15px;
  font-weight: 600;
}
.green-btn {
  margin-left: 5px;
  padding: 8px 20px;
  color: white;
  background-color: #039103;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.green-btn:hover {
  background: #039103;
}
